@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --c1: #fafafa;
  --c2: #f7f7f7;
  --c3: #eeeeee;
  --c4: #e4e4e4;
  --c5: #cbcbcb;
  --c6: #b0b0b0;
  --c7: #7d7d7d;
  --c8: #646464;
  --c9: #454545;
  --c10: #2f2f2f;
  --c11: #232323;
  --c12: #181818;
  --c13: #0e0e0e;

  --p1: #f0cd31;
  --p2: #deba1a;
  --p3: #caa709;
  --p4: #ba9801;
  --p5: #967a00;
  --p6: #423600;

  --x1: #ef8a8a;
  --y1: #78b1e5;
  --y1-hover: #1f6eb6;

  font-size: 12px;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
div,
form,
a,
main,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c12);
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--p6);
  font-weight: bold;
  padding: 18px 64px;
  background: linear-gradient(var(--p1), var(--p3));
  border-radius: 6px;
  text-align: center;
  align-self: center;
  width: max-content;
}

/* LOGIN */
#login .main--container {
  margin-top: 64px;
}

.main--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.logo--container {
  position: relative;
  top: -40px;
}

.container--form {
  background-color: var(--c11);
  border-radius: 6px 0 0 6px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px 40px;
  box-sizing: border-box;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.75rem;
  color: var(--c3);
}

.input input {
  height: 60px;
  font-size: 1.15rem;
  background-color: var(--c5);
  border: 2px solid var(--c7);
  border-radius: 6px;
  padding-left: 16px;
  box-sizing: border-box;
}

.form--login,
.form--signup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

.btns--login {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 24px;
}

.btn--login,
.btn--voltar {
  border: 4px solid var(--p1);
  border-radius: 6px;
  padding: 12px 80px;
  align-self: center;
  transition: 0.3s ease-in-out;
}

.arrow-enter,
.btn--voltar img {
  transition: 0.3s ease-in-out;
}

.btn--voltar img {
  transform: rotate(180deg);
}

.forgot--password {
  color: var(--y1);
  font-size: 1.35rem;
  margin-top: 24px;
  transition: 0.3s ease-in-out;
}

.copyright,
.copyright a {
  color: var(--c7);
  font-size: 1.25rem;
  margin-top: 80px;
  align-self: flex-start;
  transition: 0.3s ease-in-out;
}

.container--bg img {
  height: 100%;
  object-fit: cover;
  width: 400px;
}

.bg--login {
  border-radius: 0 6px 6px 0;
}

.btn:hover {
  background: linear-gradient(var(--p3), var(--p5));
  transition: 0.3s ease-in-out;
}

.forgot--password:hover {
  color: var(--y1-hover);
  transition: 0.3s ease-in-out;
}

.btn--login:hover .arrow-enter {
  transform: translateX(24px);
  transition: 0.3s ease-in-out;
}

.btn--voltar:hover img {
  transform: translateX(-24px) rotate(180deg);
  transition: 0.3s ease-in-out;
}

.btn--login:hover,
.btn--voltar:hover {
  border-color: var(--c1);
}

.copyright a:hover {
  color: var(--c9);
}

.input input:focus,
.input input:focus,
textarea:focus {
  outline: none;
  border-color: var(--p1);
  background: var(--c1);
  box-shadow: 0 0 1px 2px #fea;
}

/* SIGN UP */

#signup .copyright,
.copyright a {
  margin-top: 60px;
}

/* PASSWORD RECOVER */
#pass-recover .main--container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

#pass-recover .container--form {
  border-radius: 6px 6px 0 0;
}

#pass-recover,
#pass-recover .main--container,
#pass-recover .container--bg img {
  width: 920px;
}

#pass-recover .container--bg img {
  height: 200px;
  border-radius: 0 0 6px 6px;
}

#pass-recover .btns--login {
  display: flex;
  justify-content: center;
}
