@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --c1: #fafafa;
  --c2: #f7f7f7;
  --c3: #eeeeee;
  --c4: #e4e4e4;
  --c5: #cbcbcb;
  --c6: #b0b0b0;
  --c7: #7d7d7d;
  --c8: #646464;
  --c9: #454545;
  --c10: #2f2f2f;
  --c11: #232323;
  --c12: #181818;
  --c13: #0e0e0e;

  --p1: #f0cd31;
  --p2: #deba1a;
  --p3: #caa709;
  --p4: #ba9801;
  --p5: #967a00;
  --p6: #423600;
  --p7: #786200;

  --x1: #ef8a8a;
  --y1: #78b1e5;
  --y1-hover: #1f6eb6;

  font-size: 12px;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
div,
form,
a,
main,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: var(--c12);
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--p6);
  font-weight: bold;
  padding: 18px 64px;
  background: linear-gradient(var(--p1), var(--p3));
  border-radius: 6px;
  text-align: center;
  align-self: center;
  width: max-content;
}

/* LOGIN */

.main--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6vh;
}

.logo--container {
  position: relative;
  top: -40px;
}

.container--form {
  background-color: var(--c11);
  border-radius: 6px 0 0 6px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px 40px;
  box-sizing: border-box;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.75rem;
  color: var(--c3);
}

.input input {
  height: 60px;
  font-size: 1.15rem;
  background-color: var(--c5);
  border: 2px solid var(--c7);
  border-radius: 6px;
  padding-left: 16px;
  box-sizing: border-box;
}

.form--login,
.form--signup,
.form--new-password,
.form--pass-recover {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

.btns--login {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 24px;
}

.btn--login,
.btn--voltar {
  border: 4px solid var(--p1);
  border-radius: 6px;
  padding: 12px 80px;
  align-self: center;
  transition: 0.3s ease-in-out;
}

.arrow-enter,
.btn--voltar img {
  transition: 0.3s ease-in-out;
}

.btn--voltar img {
  transform: rotate(180deg);
}

a {
  color: var(--y1);
  font-size: 1.35rem;
  margin-top: 24px;
  transition: 0.3s ease-in-out;
}

.copyright,
.copyright a {
  color: var(--c7);
  font-size: 1.25rem;
  margin-top: 80px;
  align-self: flex-start;
  transition: 0.3s ease-in-out;
}

.container--bg img {
  height: 100%;
  object-fit: cover;
  width: 400px;
}

.bg--login {
  border-radius: 0 6px 6px 0;
}

.btn:hover {
  background: linear-gradient(var(--p3), var(--p5));
  transition: 0.3s;
  color: var(--c13);
}

a:hover {
  color: var(--y1-hover);
  transition: 0.3s ease-in-out;
}

.btn--login:hover .arrow-enter {
  transform: translateX(24px);
  transition: 0.3s ease-in-out;
}

.btn--voltar:hover img {
  transform: translateX(-24px) rotate(180deg);
  transition: 0.3s ease-in-out;
}

.btn--login:hover,
.btn--voltar:hover {
  border-color: var(--c1);
}

.copyright a:hover {
  color: var(--c9);
}

.input input:focus,
.input input:focus,
textarea:focus {
  outline: none;
  border-color: var(--p1);
  background: var(--c1);
  box-shadow: 0 0 1px 2px #fea;
}

/* SIGN UP */
#signup .copyright,
.copyright a {
  margin-top: 60px;
}

/* PASSWORD RECOVER */
#pass-recover .main--container {
  display: flex;
  flex-direction: column;
}

#pass-recover .container--form {
  border-radius: 6px 6px 0 0;
}

#pass-recover,
#pass-recover .main--container,
#pass-recover .container--bg img {
  width: 920px;
}

#pass-recover .container--bg img {
  height: 200px;
  border-radius: 0 0 6px 6px;
}

#pass-recover .btns--login {
  display: flex;
  justify-content: center;
}

/* HOME */

#home .main--container,
#home .container--form,
#home {
  display: initial;
  width: 1000px;
  margin: 0 auto;
}

#home .logo--container {
  position: relative;
  top: -40px;
}

#home .container--form {
  margin-top: 6vh;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#home ul {
  list-style: none;
  display: flex;
  gap: 12px;
  align-items: baseline;
}

#home li > a {
  text-decoration: none;
  font-size: 1.55rem;
  padding: 8px 16px;
  color: var(--p7);
  display: inline-block;
  margin-top: 12px;
}

#home li > a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--c2);
}

#home li > a:hover {
  color: var(--p1);
}

#home li > a:hover::after {
  width: 100%;
  transition: 0.3s;
}

#home .nav--active::after {
  width: 100%;
}

#home .nav--active {
  font-size: 2.2rem;
  color: var(--p1);
}

#home h3 {
  letter-spacing: 1px;
  color: var(--c1);
  font-weight: 600;
}

#home h3::after {
  display: inline-block;
  margin-left: 8px;
  content: "";
  height: 17px;
  width: 30px;
  background: url(./assets/arrow-down.svg);
}

#home h3,
#home .link-portfolio {
  line-height: 1px;
  font-size: 1.5rem;
  justify-self: start;
}

#home .container--link-portfolio {
  display: flex;
  align-items: center;
  gap: 8px;
}

#home .copy-link {
  content: "";
  display: inline;
  height: 32px;
  width: 32px;
  background: url(./assets/copy.svg);
  transition: 0.3s ease-in-out;
}

#home .copy-link:hover {
  background: url(./assets/copy-hover.svg);
  transition: 0.3s ease-in-out;
}

#home header {
  align-self: start;
  display: flex;
  border-bottom: 2px solid var(--c10);
  padding-bottom: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#home .signout {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background: url(./assets/signout.svg);
}

#home .signout:hover {
  background: url(./assets/signout-grey.svg);
}

#home .form--home {
  display: none;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  gap: 20px;
}

#home .form--active {
  display: flex;
}

#home .row--input {
  display: grid;
  gap: 24px;
}

#home .row--input-8-2 {
  grid-template-columns: 4fr 1fr;
}

#home .row--input-6-4 {
  grid-template-columns: 3fr 2fr;
}

#home .row--input-5-5 {
  grid-template-columns: 1fr 1fr;
}

#home .row--input-5-4-1 {
  grid-template-columns: 5fr 4fr 1fr;
}

#home .input textarea.text-area {
  font-size: 1.35rem;
  background-color: var(--c5);
  border: 2px solid var(--c7);
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  resize: none;
  height: 108px;
}

#home textarea.text-area:focus {
  outline: none;
  border-color: var(--p1);
  background: var(--c1);
  box-shadow: 0 0 1px 2px #fea;
}

#home .input {
  width: 100%;
  font-size: 1.55rem;
}

#home .input input {
  font-size: 1.4rem;
  height: 48px;
}

#home .btn--att-portfolio {
  width: max-content;
  margin: 12px 0 8px 0;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 8px;
}

#home .btn--att-portfolio::before {
  content: "";
  height: 20px;
  width: 21px;
  background: url(./assets/refresh.svg);
}

#home .btn--att-portfolio:hover:before {
  background: url(./assets/refresh-dark.svg);
  transition: 0.3s;
}

#home a:hover {
  transition: 0.3s;
}

#home a {
  transition: initial;
}

#home @media(max-width: 1000px) {
  /* LOGIN E SIGNUP */
  body {
    background-color: var(--c11);
    padding: 0;
  }

  .container--bg {
    display: none;
  }

  .main--container {
    grid-template-columns: 1fr;
    margin: 80px auto;
  }

  .container--form {
    border-radius: 6px;
  }

  .btns--login {
    display: flex;
    gap: 24px;
    margin-top: 0;
  }

  .btn--login,
  .btn--voltar {
    padding: 12px 64px;
  }

  .btn {
    padding: 18px 64px;
  }

  .copyright {
    align-self: center;
  }

  /* PASS RECOVER */
  #pass-recover,
  #pass-recover .main--container,
  #pass-recover .container--bg img {
    width: initial;
  }
}

@media (max-width: 600px) {
  /* LOGIN E SIGNUP */
  .logo--container img {
    height: 48px;
  }

  .main--container {
    max-width: initial;
  }

  #pass-recover .container--form {
    max-width: 380px;
  }

  .container--form {
    border-radius: 0;
    padding: 0 20px 10px 20px;
    width: inherit;
  }

  .input {
    gap: 4px;
  }

  .input input {
    height: 40px;
  }

  .form--login,
  .form--signup,
  .form--new-password,
  .form--pass-recover {
    gap: 12px;
  }

  .btn--login,
  .btn--voltar {
    padding: 12px 36px;
  }

  .btn {
    padding: 18px 36px;
  }
}
